<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>
      Zuckerman Institute, Columbia University, New York, NY
    </li>
    <li>
      <span style="display: inline-block">
      <span class="li-icon">{% include svg/internet.svg %}</span><a href="https://menoua.github.io">Website</a>
      </span>
      |
      <span style="display: inline-block">
      <span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://linkedin.com/in/menoua">LinkedIn</a>
      </span>
      |
      <span style="display: inline-block">
      <span class="li-icon">{% include svg/google-scholar-solid.svg %}</span><a href="https://scholar.google.com/citations?user=oRDR7NYAAAAJ&hl=en&oi=ao">Scholar</a>
      </span>
      |
      <span style="display: inline-block">
      <span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:menoua.k@columbia.edu">menoua.k@columbia.edu</a>
      </span>
    </li>
  </ul>
</div>
