{% assign research = site.projects
  | where: "type", "research"
  | sort: "sort_key" | reverse
%}

<div class="projects">
  {% for project in research %}
  <div class="project-row">
    <div class="project-icon">
      {% if project.image %}
      <img class="project-image" src="{{ project.image }}" />
      {% endif %}
    </div>
    <div class="project-description">
      <a href="{{ project.url | relative_url }}"> {{ project.title }}. </a>
      <span class="authors"> {{ project.description }} </span>
    </div>
  </div>
  {% endfor %}
</div>
