{% assign personal = site.projects | where:"type", "side" | reverse %}

<div class="projects">
  {% for project in personal %}
  <div class="project-row">
    <div class="project-icon">
      {% if project.photo %}
      <img class="project-photo" src="{{ project.photo }}" />
      {% endif %}
    </div>
    <div class="project-description">
      <a href="{{ project.url | relative_url }}"> {{ project.title }}. </a>
      <span class="authors"> {{ project.description }} </span>
    </div>
  </div>
  {% endfor %}
</div>
